In [4]:
import pandas as pd

# 读取整个CSV文件到DataFrame
df = pd.read_csv('solve_none.csv')
df.head()

,Step,7b_INTERLEAVE - batch/solve_none,7b_INTERLEAVE - batch/solve_none__MIN,7b_INTERLEAVE - batch/solve_none__MAX
0,1,40,40,40
1,2,40,40,40
2,3,37,37,37
3,4,44,44,44
4,5,40,40,40

In [6]:
df = df[['Step', '7b_INTERLEAVE - batch/solve_none']]
# 查看前5行
print(df.head())

   Step  7b_INTERLEAVE - batch/solve_none
0     1                                40
1     2                                40
2     3                                37
3     4                                44
4     5                                40

In [10]:
# 假设你的DataFrame名为df
average = df['7b_INTERLEAVE - batch/solve_none'].mean()

print(f"平均值: {average}")

平均值: 16.083916083916083

In [8]:
average = df['7b_INTERLEAVE - batch/solve_none'].median()

print(f"平均值: {average}")

平均值: 14.0